/* style.css */

body {
    /* display: flex; */
}

.header {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    background-color: #1c2b42;
    font-size: 24px;
    padding: 1em;
}

.first-box {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    background-color: #1c2b42;
    padding: 1em;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 1em;
}

.left-group {
    /* padding: 32px; */
    font-size: 48px;
    font-weight: bolder;
    flex-direction: column;
    /* color: #f9faf8;
    background-color: #1c2b42; */
    display: flex;
    flex-wrap: wrap;
}

.hero-pic {
    padding: 1em;
    background-color: rgb(153, 162, 162);
    /* align-items: center; */
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.second-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
}

.info-container {
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    color: #1f2937;
    font-size: 12px;
    font-weight: bolder;
    flex-direction: column;
    width: 100px;
}

.info-box {
    border: 2px solid blue;
    border-radius: 1em;
    border-color: #3882f6;
    width: 100px;
    height: 100px;
    margin-left: 2em;
    margin-right: 2em;
}

.subtext {
    flex-wrap: wrap;
    width: 100px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 24px;
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.call-to-action {
    display: flex;
    /* flex-direction: column; */
    background-color: #3882f6;
    color: white;
}



.SignUp {
    color: white;
    background-color: #3882f6;
    border: white;
    border-radius: 6px;
    border: 2px solid white;

}

.footer {
    /* margin-top: auto; */
    display: flex;
    justify-content: center;
    color: #f9faf8;
    background-color: #1c2b42;
}

.left-group .SignUp {
    width: fit-content;

}