/* style.css */

.header {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    background-color: #1c2b42;
    font-size: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.first-box {
    display: flex;
}

.left-group {
    padding: 32px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    background-color: #1c2b42;
    display: flex;
    flex-wrap: wrap;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.second-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
}

.information {
    display: flex;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 24px;
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.call-to-action {
    display: flex;
    /* flex-direction: column; */
}

.SignUp {
    background-color: #3882f6;
    color: #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    background-color: #1c2b42;
}